<a href="https://colab.research.google.com/github/artikaindah/KKA-XI3-Semester_1/blob/main/Artika_Indah_XI_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Nama:Artika Indah Rizqi

Kelas : XI-3

No. Absen : 01

#Menampilkan String (Teks Bebas)

In [ ]:
print ("Artika Indah Rizqi")

Artika Indah Rizqi

#Menampilkan Nilai Variabel

In [ ]:
Nama = "Artika Indah Rizqi"
Usia = 16
Tinggi_badan =150

print(Nama)
print(Usia)
print(Tinggi_badan)

Artika Indah Rizqi
16
150

#Menampilkan String dan Nilai Variabel

In [ ]:
print("Halo nama saya", Nama, ", Tinggi badan saya adalah", Tinggi_badan, "cm,")

Halo nama saya Artika Indah Rizqi , Tinggi badan saya adalah 150 cm,

In [ ]:
print("Usia saya adalah", Usia, "tahun.")

Usia saya adalah 16 tahun.

In [ ]:
print("Halo nama saya "+ Nama+ ".Tinggi badan saya adalah "+ str(Tinggi_badan) + " cm. ")

Halo nama saya Artika Indah Rizqi.Tinggi badan saya adalah 150 cm.

In [ ]:
print(f"Halo nama saya {Nama}. Tinggi badan saya adalah {Tinggi_badan} cm.")

Halo nama saya Artika Indah Rizqi. Tinggi badan saya adalah 150 cm.

#Parameter Fungsi Print

In [ ]:
nama_siswa_1 = "Yafi"
nama_siswa_2 = "Wahyu"

In [ ]:
print(nama_siswa_1, end="&")
print(nama_siswa_2)

Yafi&Wahyu

In [ ]:
print(nama_siswa_1, nama_siswa_2, sep=

Yafi/Wahyu